*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}

body {
    min-height: 4000px;
}

#Home {
    padding-top: 5rem;
    background-color: #21f0f0;
}

.jumbotron{
    color: white;
    padding-top: 2rem;
    background-color: #7bc2e2;
    background-image: url("https://img.lovepik.com/photo/20211210/medium/lovepik-black-background-summer-cool-ice-cubes-still-life-picture_501767617.jpg");
}

#About {
    padding-top: 5rem;
    background-color: beige
}

#Skill {
    padding-top: 5rem;
    background-color:beige
}

section {
    padding-top: 5rem;
}

#blog{
    padding-top: 5rem;
    background-color: beige
}

#Medsos {
    padding-top: 5rem;
    background-color: beige
    text-align: center;
}
.icons a {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .icons .bi {
      padding-right: 3px;
  }
  .icons .instagram {
      background-color: #8cce21;
  }
  .icons .facebook {
      background-color: #17d6c6;
  }
  .icons .whatsapp {
      background-color: #63077a;
  }
  
#kontak {
    padding-top: 5rem;
    background-color: beige
}